<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>

    <div class="bg-zinc-900 w-full h-screen text-white pl-10">

        <a class="text-blue-500 mt-10 inline-block"
         href="/">Go back to home</a>
        <h1 class="text-3xl mt-10"
        > <%= filename%> </h1>
        <p class="mt-10">
            <%= filedata%>

        </p>
    </div>
    
</body>
</html>