<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTES</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="bg-zinc-900 text-white h-screen">

        <div class="form">
            <form action="">
                <input type="text" placeholder="title goes here">
                <textarea placeholder="write your task here">
                    
                </textarea>
            </form>
        </div>
</div>
</body>
</html>